<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7"/>
    <meta http-equiv="Content-Type"
          content="text/html;charset=utf-8"/>
    <link href="../css/snippetz.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <script type="text/javascript" src="../js/snippy.js"></script>
    
    <title>Snippy</title>
</head>

<body onload='snippetz.init()'>
<div id='container'>
<div id='header'>
   <div>
        <ul id='toolbar' style="float:right">
        <li><a href="#" onclick="snippetz.openCreateTab();">Create a Snippet</a></li>
        <li><em>{{ user }}</em></li>
        <li><a href="{{ url}}">{{ url_linktext }}</a></li>
        </ul>

    </div>
    <div style="float:left;display:inline">
    <img src="../images/logo.png" class="logo">

    <h3>Easily manage your code snippets!</h3>
        
    <div id="searchBar" class='searchBar'>
        
    </div>
    </div>

</div>

<div class='statusText' id="statusText"></div>
<div id='main'></div>
<div id='footer'>
    <div class='copyright'>Copyright - Feel free to copy!</div>
    <div class='aboutsnippy'><a href="#" onclick="snippetz.openAboutTab();">About Snippy</a></div>
    
    
</div>

</div>
</body>

</html>
