body{
	font-family:"Lucida Grande", Tahoma, sans-serif;
	font-size:12px;
	/*background-color:#556B2F;
	color:#F0F8FF;*/
}

html,body{
	padding:0;
	height:100%;
	min-width:700px;
	background-image:url(../images/bg.png);
	background-repeat:repeat;
	margin-top:0px;
	margin-bottom:0px;
}

#header{
	height:40px;
}

#container {
   min-height:100%;
   position:relative;
   margin:auto;
   width:94%;
   overflow-x:hidden;
}


#main{
	padding-bottom:25px;
	
	
}

#footer{
	position:absolute;
	bottom:0;
	height:24px;
	/*border-top:1px solid DarkOrange;*/
	width:100%;
	/*background-color:#3C4A21;*/
}

#toolbar > li{
    display:inline;
    padding-left:10px;
    
}

.logo {
	width:130px;
	height:50px;
	vertical-align:middle;
}

.searchBar{
    display:inline;
    margin-left:25px;

}

.searchBar >input{
    margin-top:10px;
}


#codeEditor{
	height:400px;
	width:800px;
	border:1px solid black;
	/*background-color:black;*/
	/*color:white;*/
}

#nav{
	width:200px;
	float:left;
}
h1{
	display:inline;
	font-size:25px;
}

h3{
	padding-left:30px;
	display:inline;
	font-size:12px;
}

.tabDiv{
    vertical-align:top;
    display:inline;
}

.tabberHeader {
	height:24px;
	float:left;
	width:99%;
	padding-left:1%;
	margin:0;
	border-bottom:1px solid blue;
}

.tabberBody{
    clear:left;
    border-left:1px solid blue;
    border-right:1px solid blue;
    border-bottom:1px solid blue;
	min-height:400px;
    background-color:white;
}



.tabLeft{
	background-image: url(../images/tabLeft.png);
	padding-right:8px;
	float:left;
	height:24px;
	display:block;
    cursor:pointer;
}

.tabRight{
	/*background-image: url(../images/tabRight.png);*/
	padding-left:5px;
	float:left;
	height:24px;
	display:block;
    cursor:pointer;
}

.tab {
	/*background-image: url(../images/tab.png);
	background-repeat:repeat-x;*/
	background-color:#99c;
	float:left;
	height:18px;
	display:block;
	padding-top:5px;
	color:white;
	font-weight:bold;
    cursor:pointer;
	border-radius:5px 5px 0 0;
	padding-left:5px;
	padding-right:5px;
	border-left: 1px solid blue;
	border-right:1px solid blue;
	border-top: 1px solid blue;

}

.tabSelectedLeft{
	background-image: url(../images/tab_selected_left.png);
	height:25px;
}

.tabSelectedRight{
	/*background-image: url(../images/tab_selected_right.png);*/
	/*height:25px;*/
}

.tabSelected{
    /*background: url(../images/tab_selected.png) repeat-x;*/
	background-color:white;
	color:black;
	height:19px;
}

.headerLeft{
	height:24px;
	width:5px;
	float:left;
	
}



.loading{
    background-color:#9999cc;
    position:absolute;
    top:5px;
    left:50%;
    color:white;
    font-weight:bold;
    padding-left:5px;
    padding-right:5px;
}

.innerLabel{
    color :#999999;
}

.snippetName{
    float:left;
    font-weight:bold;
    font-size:15px;
}

.snippetDate{
    float:right;
    font-style:italic;
}

.snippetDelete{
	float:right;
	font-weight: bold;
	padding-right:5px;
}
.snippetTags{
    clear:both;
}

.snippetList{
    list-style:none;
    clear:both;
    padding:0;
    margin-left:0;
}

.snippetList > li{
    border-top:1px solid #99C;
}

.snippetCode{
    background-color:gray;
    color:white;
    
}

.codeEditor{
    height:400px;
    width:800px;
    border:1px solid #9999CC;
}

.codePre{
    background-color:#eeffff;
    border:1px solid #9999cc;
    font-family:"Ubuntu Mono","Consolas","Monaco", monospace;
	
}

.codeTextArea{
    
    /*background-color:#3f3f3f;*/
    border:1px solid #99c;
    /*color:aliceBlue;*/
    margin-left:1%;
    margin-right:1%;
    width:98%;
    margin-bottom:10px;
}

.keyword{
    color:blue;
    font-weight:bold;
}

.builtInClass{
    color:red;
    font-weight:bold;
}

.comments{
    color:green;
    font-style:italic;
    font-size:90%;
}

.multiComments{
    color:maroon;
    font-style:italic;
    font-size:90%;
}

.quotes{
    color:gray;
}

.about{
    padding-top:20px;
    width:70%;
    height:150px;
    padding-left:20px;
    text-indent:20px;
}

.tagCloud{
    padding-left:10px;
}

.tagCloud > a:hover{
    color:#99c;
    text-decoration:underline;
}

.statusText{
    position:fixed;
    top:0;
    left:2px;
    background-color:#3F3F3F;
    color:white;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:4px;
    padding-right:4px;
	border-bottom:1px solid DarkOrange;
	border-right:1px solid DarkOrange;
	border-top:1px solid DarkOrange;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

.nextPageLink{
    float:right;
}

.snipRes{
    margin-left:10px;
    margin-right:10px;
}

.toolbarLayout{
    margin-left:10px;
}

a{
    text-decoration:none;
}

input{
    /*color:aliceBlue;*/
	/*background-color:#3F3F3F;*/
	border:1px solid #99c;
	border-radius:5px;
}

select{
    /*color:aliceBlue;*/
	/*background-color:#3F3F3F;*/
	border:1px solid #99c;
	color: black;
	font-style: bold;
	background-color:#99c;
	border-radius: 5px;
}

option{
	color: black;
	font-style: bold;
	background-color:#99c;
	border-radius: 5px;
}

input[type='button']{
    border:1px solid #99c;
	color: black;
	font-style: bold;
	background-color:#99c;
	border-radius: 5px;
	
	
}
.aboutsnippy{
    float:right;
	padding-right:10px;
	padding-top:3px;
}

.copyright{
	float:left;
	padding-top:3px;
	padding-left:10px;
}
